.products__container{
    flex: 4;
}

.product__item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.6rem;
}

.products__icons {
    margin: 0 0.75rem;
    cursor: pointer;
    font-size: 1.3rem !important;
}

.delete:hover {
    font-size: 1.6rem;
}

.delete {
    color: brown !important; 
}

.edit:hover {
    font-size: 1.6rem;
}

.edit {
    color: #6bb36b !important;
    margin-top: 0.5rem;
}