.widgetone__container {
  flex: 1;
  padding: 1.8rem;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-right: 1.25rem;
}

.widgetone__title {
    font-weight: 600;
    font-size: 1.5rem;
}

.widgetone__ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widgetone__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 0;
}

.widgetone__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetone__user {
    display: flex;
    flex-direction: column;
}

.wo__username {
    font-weight: 600;
}

.wo__usertitle {
font-weight: 300;
}

.wo__button {
display: flex;
align-items: center;
border: none;
border-radius: 0.6205rem;
padding: 0.5rem 0.625rem;
background: #EEEEEE;
color: gray;
cursor: pointer;
}

.wo__icons {
    margin-right: 0.25rem;
    font-size: 1rem !important;
}